# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Don't include the binaries
opencxd
ocx
fred

# Don't include the rpc client binary
cmd/opencx-cli/opencx-cli
